kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

networking:
  apiServerPort: 6443

nodes:
- role: control-plane

  extraMounts:
  - hostPath: /home/jack711/k8s-data
    containerPath: /data

  extraPortMappings:
  - containerPort: 30000
    hostPort: 30000
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30080
    hostPort: 30080
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30443
    hostPort: 30443
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 36123
    hostPort: 36123
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30909
    hostPort: 30909
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30600
    hostPort: 30600
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30101
    hostPort: 30101
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30121
    hostPort: 30121
    listenAddress: "0.0.0.0"
    protocol: TCP
  - containerPort: 30122
    hostPort: 30122
    listenAddress: "0.0.0.0"
    protocol: TCP
- role: worker
  extraMounts:
      - hostPath: /home/jack711/k8s-data
        containerPath: /data
- role: worker
  extraMounts:
      - hostPath: /home/jack711/k8s-data
        containerPath: /data