{{- if .Values.cdc.enabled }}
apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: {{ .Values.cdc.job.name }}
  namespace: flink
spec:
  image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
  imagePullPolicy: Always
  flinkVersion: v1_20
  serviceAccount: flink

  flinkConfiguration:
     # REST 必须可用（CDC CLI 要用）
    rest.bind-port: "8081"
    # Disable web UI cancel button to prevent accidental job cancellation
    web.cancel.enable: false
    # Configure execution target for Flink operator
    execution.target: kubernetes-session
    # Enable application mode for Flink operator
    kubernetes.rest-service.exposed.type: ClusterIP
    classloader.resolve-order: parent-first
    taskmanager.numberOfTaskSlots: "1"
    execution.checkpointing.interval: "10s"
  podTemplate:
    spec:
      volumes:
        - name: pipeline-config
          configMap:
            name: {{ .Values.cdc.job.name }}-pipeline-config
      containers:
      - name: flink-main-container
        volumeMounts:
        - name: pipeline-config
          mountPath: /opt/flink/pipeline.yaml
          subPath: pipeline.yaml

  jobManager:
    replicas: 1
    resource:
      cpu: 2
      memory: 4g
  taskManager:
    replicas: {{ .Values.resources.taskmanager.replicas }}
    resource:
      cpu: {{ .Values.resources.taskmanager.cpu }}
      memory: {{ .Values.resources.taskmanager.memory }}
  # job:
  #   jarURI: 'file:///opt/flink/lib/flink-cdc-dist-3.5.0.jar'
  #   entryClass: org.apache.flink.cdc.cli.CliFrontend
  #   args:
  #   - /opt/flink/pipeline.yaml
  #   parallelism: {{ .Values.cdc.job.parallelism }}
  #   upgradeMode: stateless
  #   state: running
{{- end }}