{{- if .Values.cdc.enabled }}
apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: {{ .Values.cdc.job.name }}
spec:
  image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
  flinkVersion: v1_20
  serviceAccount: flink
  jobManager:
    resource:
      cpu: 1
      memory: 1g
  taskManager:
    replicas: {{ .Values.resources.taskmanager.replicas }}
    resource:
      cpu: {{ .Values.resources.taskmanager.cpu }}
      memory: {{ .Values.resources.taskmanager.memory }}
  job:
    jarURI: local:///opt/flink/lib/flink-cdc-dist-3.5.0.jar
    entryClass: org.apache.flink.cdc.cli.CliFrontend
    parallelism: {{ .Values.cdc.job.parallelism }}
    args:
      - sql
      - /opt/flink/sql/job.sql
    upgradeMode: stateless
{{- end }}