{{- if .Values.cdc.enabled }}
apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: {{ .Values.cdc.job.name }}
  namespace: flink
spec:
  image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
  imagePullPolicy: Always
  flinkVersion: v1_20
  serviceAccount: flink

  podTemplate:
    spec:
      volumes:
        - name: pipeline-config
          configMap:
            name: {{ .Values.cdc.job.name }}-pipeline-config
      containers:
      - name: flink-main-container
        volumeMounts:
        - name: pipeline-config
          mountPath: /opt/flink/pipeline.yaml
          subPath: pipeline.yaml

  jobManager:
    resource:
      cpu: 2
      memory: 4g
  taskManager:
    replicas: {{ .Values.resources.taskmanager.replicas }}
    resource:
      cpu: {{ .Values.resources.taskmanager.cpu }}
      memory: {{ .Values.resources.taskmanager.memory }}
  job:
    jarURI: file:///opt/flink/lib/flink-cdc-dist-3.5.0.jar
    entryClass: org.apache.flink.cdc.cli.CliFrontend
    args:
    - /opt/flink/pipeline.yaml
    parallelism: {{ .Values.cdc.job.parallelism }}
    upgradeMode: stateless
{{- end }}