apiVersion: v1
kind: ConfigMap
metadata:
  name: dev-kafka-jmx-exporter
  namespace: bigdata
data:
  jmx-kafka-prometheus.yml: |
    jmxUrl: service:jmx:rmi:///jndi/rmi://127.0.0.1:{{ .Values.kafka.metrics.jmx.kafkaJmxPort }}/jmxrmi
    lowercaseOutputName: true
    lowercaseOutputLabelNames: true
    ssl: false

    whitelistObjectNames:
      - kafka.controller:*
      - kafka.server:*
      - kafka.network:*
      - kafka.log:*
      - java.lang:*

    rules:
      - pattern: 'java.lang<type=Memory><HeapMemoryUsage>(used|committed|max):'
        name: jvm_memory_bytes_$1
        labels:
          area: heap
        type: GAUGE
      - pattern: 'java.lang<type=Memory><NonHeapMemoryUsage>(used|committed|max):'
        name: jvm_memory_bytes_$1
        labels:
          area: nonheap
        type: GAUGE
      - pattern: 'java.lang<type=Threading><>ThreadCount:'
        name: jvm_threads_current
        type: GAUGE
      - pattern: 'java.lang<type=GarbageCollector, name=(.+)><>CollectionCount:'
        name: jvm_gc_collection_seconds_count
        labels:
          gc: "$1"
        type: COUNTER
      - pattern: 'java.lang<type=GarbageCollector, name=(.+)><>CollectionTime:'
        name: jvm_gc_collection_seconds_sum
        labels:
          gc: "$1"
        type: COUNTER
