kube-prometheus-stack:  
  prometheus:
    prometheusSpec:
      retention: 15d
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: "standard"
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 50Gi
  crds:
    enabled: true
  alertmanager:
    enabled: true
    config:
      global:
        resolve_timeout: 5m
      route:
        group_by:
          - "namespace"
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 12h
        receiver: "null"
        routes:
          - matchers:
              - alertname = "Watchdog"
            receiver: "null"
      receivers:
        - name: "null"
    alertmanagerSpec:
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: "standard"
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Gi
  
  grafana:
    enabled: true
    adminPassword: "admin"
    persistence:
      enabled: false
  kubeControllerManager:
    enabled: false
  
  kubeScheduler:
    enabled: false
  
  kubeEtcd:
    enabled: false
  
  nodeExporter:
    enabled: true