global:
  security:
    allowInsecureImages: true
# 关键：Wrapper Chart 必须把配置放在依赖名 "mysql" 下面
mysql:
  # 1. 镜像配置
  image:
    registry: local-registry:5000
    repository: bitnami-mysql  # 确保你本地仓库里叫这个名字 (通常是 bitnami/mysql)
    tag: 9.4.0
    pullPolicy: IfNotPresent

  # 2. 认证信息
  auth:
    rootPassword: "root123456"
    username: "appuser"
    password: "app123456"
    database: "appdb"

  # 3. 主节点配置 (包含持久化和资源限制)
  primary:
    configuration: |-
      [mysqld]
      authentication_policy='{{- .Values.auth.authenticationPolicy | default "* ,," }}'
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/opt/bitnami/mysql
      plugin_dir=/opt/bitnami/mysql/lib/plugin
      port={{ .Values.primary.containerPorts.mysql }}
      mysqlx={{ ternary 1 0 .Values.primary.enableMySQLX }}
      mysqlx_port={{ .Values.primary.containerPorts.mysqlx }}
      socket=/opt/bitnami/mysql/tmp/mysql.sock
      datadir=/bitnami/mysql/data
      tmpdir=/opt/bitnami/mysql/tmp
      max_allowed_packet=16M
      bind-address=*
      pid-file=/opt/bitnami/mysql/tmp/mysqld.pid
      log-error=/opt/bitnami/mysql/logs/mysqld.log
      character-set-server=UTF8
      slow_query_log=0
      long_query_time=10.0
      server-id=1
      log_bin=mysql-bin
      binlog_format=ROW
      binlog_row_image=FULL
      binlog_expire_logs_seconds=604800
      {{- if .Values.tls.enabled }}
      ssl_cert=/opt/bitnami/mysql/certs/{{ .Values.tls.certFilename }}
      ssl_key=/opt/bitnami/mysql/certs/{{ .Values.tls.certKeyFilename }}
      {{- if (include "mysql.tlsCACert" .) }}
      ssl_ca={{ include "mysql.tlsCACert" . }}
      {{- end }}
      {{- end }}
      [client]
      port={{ .Values.primary.containerPorts.mysql }}
      socket=/opt/bitnami/mysql/tmp/mysql.sock
      default-character-set=UTF8
      plugin_dir=/opt/bitnami/mysql/lib/plugin
    # 持久化
    persistence:
      enabled: true
      # ⚠️ 注意：使用 existingClaim 代表你必须提前手动创建好 PVC
      # 如果你想让 helm 自动创建，请注释掉 existingClaim，使用 size: 10Gi
      existingClaim: "mysql-pvc-data"
    
    # 资源限制 (移动到了 primary 下面)
    resources:
      limits:
        cpu: "500m"
        memory: "1Gi"
      requests:
        cpu: "200m"
        memory: "512Mi"